@font-face {
  font-family: "PFTransport";
  src: url("./fonts/PFTransport-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;
  font-family: "PFTransport", sans-serif;
  background-color: #000;
  color: #fff;
}

.menu-overlay {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  text-align: right;
  z-index: 2000; /* Lightbox uses ~1000 */
}
